@media (max-width: 650px) {
  .products {
    display: inherit;
    height: auto;
    padding: 15%;
  }

  .product {
    margin-top: auto;
  }

  .main_section {
    padding: 5%;
  }

  .beneficios,
  .mentions {
    display: inherit;
  }
}
